[submodule "external/eigen3"]
	path = external/eigen3
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
