<simulation>
    <resolution xyz="80"/>
    <timestep dt="0.01" />
    <pressureOrder order="1"/>
    <dataFolder>results/datatest</dataFolder>
    <objFolder>results/test</objFolder>
    <domainSize x="1.0" y="1.0" z="1.0"/>
    <domain>
        <sphere></sphere>
        <cube></cube>
    </domain>   
    <maxFrames value="40" />
</simulation>