<?xml version="1.0"?>
<simulation>
    <resolution xyz="32"/>
    <maxFrames value="250" />
    <timestep dt="0.01" />
    <pressure order="2"/>
    <levelsetAdvection order="2" />
    <velocityAdvection order="2" />

    <dataFolder>results/datatest</dataFolder>
    <objFolder>results/test</objFolder>

    <domain>
        <size>1.0 1.0 1.0</size>
        <sphere>
            <radius>0.15</radius>
            <center>0.5 0.75 0.5</center>
        </sphere>

        <cube>
            <lower>-15 -15 -15</lower>
            <upper>15 0.4 15</upper>
        </cube>
        <!-- <cube>
            <lower>0.15 0.6 0.35</lower>
            <upper>0.3 0.85 0.65</upper>
        </cube> -->
        
    </domain>   
</simulation>